<table class="table">
    <thead>
        <tr>
            <th></th>    
            <th>Product</th>    
            <th>Quantity</th>    
            <th>Price</th>
            <th>Total</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for menu_item in cart_items %}
        <tr>
            <td><img width="150" height="75" src="{{MEDIA_URL}}{{restaurant.image}}"/></td>    
            <td>{{menu_item.name }}</td>    
            <td>{{ menu_item.quantity}}</td>    
            <td>€{{ menu_item.price }}</td>
            <td>€{{ menu_item.total}}</td>
            <td><form method="post" action="{% url 'delete_cart_item' item.menu_item_id %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-default" value="Remove"/>
                </form>
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total:</strong></td>
            <td><strong>€{{total}}</strong></td>
            <td></td>
        </tr>
    </tbody>
</table>