{% extends "base.html" %} {% block content %}


<h3 class="cartWelcome">Hi {{ user }}, welcome to your basket <br><br> <i class="fa fa-cutlery"></i> <i class="fa fa-heart"></i></h3>
<h4>Your Reservation Request Details</h4>

<p>Number of guests: {{ guests }}</p>
<p>Time: {{ reservation_time }}</p>
<p>Reservation date & time(dd/mm/yyyy): {{ reservation_date_day }}/{{ reservation_date_month }}/{{ reservation_date_year }}</p>
<br> {% include 'cart/_show_cart.html' %}


<a href="{% url 'checkout' %}" type="button" class="checkout btn btn-default pull-right" role="button">Checkout</a> {% endblock content %}
