{% extends 'base.html' %}

{% block content %}
    <h2>Success!</h2>
    <p>You are logged in as {{ user.email }} </p>
    
    
    {% if user.Vendor %}
    <p>Sell all the food</p>
     <button class="btn btn-default" onclick="location.href='{% url 'create_restaurant' %}'">Create a restaurant</button>
    {% endif %}
   
    {% for restaurant in restaurants %}
    <div class="container-fluid">
        <div class="row cardRow">
        <div class="col-lg-4 col-sm-4 col-xs-10 text-center">
            <div class="card" style="background-image:url({{ MEDIA_URL }}{{restaurant.image}})">
                    <h3 class="cardTitle">{{ restaurant.name }}</h3>
                        <br>
                        <p><button class="btn btn-default postButton" onclick="location.href='{% url 'restaurant_detail' restaurant.id %}'">View Menu</button></p>
                        <br>
                        <p class="cardPostPublish">{{ restaurant.tag }}</p>
                    </div>
                    <br>
                    </div>

    {% endfor %}
    
    
    {% if user.Customer %}
    <p>Eat all the food</p>
    {% endif %}
{% endblock content %}