{% extends 'base.html' %}   
{% load staticfiles %}

{% block content %}
<br>
<div class="container-fluid customerProfileIntro">
        <div class="row">
<p>Hi {{ user }}, welcome to your profile <i class="fa fa-heart"></i></p>
<br>
<p class="customerProfileExp">At FeedFast we believe you shoulnd't have to wait long for great food. In 5 simple steps you can eat in restaurants without the wait time.<br> #Hangry, I don't think so
</p>
</div>
</div>
<br>
<hr>

<div class="container-fluid text-center">
                    <div class="row howToRow text-center">
                    <h3>How To Use FeedFast</h3>
                    <br>
                     <div class="col-lg-3 col-sm-3 col-xs-10 text-center">
                                <div class="card howToCard">
                                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                                <br>
                                <br>
                                <p>First things first,  <a href="https://wolfenchic-feed-fast.herokuapp.com/accounts/register/customer/">register</a> or <a href="https://wolfenchic-feed-fast.herokuapp.com/accounts/login/">login.</a><p>
                                </div>
                                </div>
                                
                    <div class="col-lg-3 col-sm-3 col-xs-10 text-center">
                        <div class="card howToCard">
                                    <span><i class="fa fa-cutlery fa-3x"></i></span>
                                    <br>
                                    <br>
                                    <p>Choose a restaurant. Check out our exciting range of <a href="https://wolfenchic-feed-fast.herokuapp.com/restaurants/">restaurants here.</a></p>
                                </div>
                                </div>
                              
                                <div class="col-lg-3 col-sm-3 col-xs-10 text-center">
                                <div class="card howToCard">
                                    <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                                    <br>
                                    <br>
                                    <p>Once you know what restaurant you want to go to make a reservation.</p>
                                </div>
                                </div>
                                
                                <div class="col-lg-3 col-sm-3 col-xs-10 text-center">
                                <div class="card howToCard">
                                    <i class="fa fa-check fa-3x" aria-hidden="true"></i>
                                    <br>
                                    <br>
                                    <p>Choose the menu that's right for you. e.g. Early Bird, Set Menu, Lunch Menu etc.</p>
                                </div>
                                </div>
                                
                                <div class="col-lg-3 col-sm-3 col-xs-10 col-sm-offset-3 text-center">
                                <div class="card howToCard">
                                    <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                                    <br>
                                    <br>
                                    <p>What do you fancy eating? Choose a dish from the range displayed on your chosen menu</p>
                                </div>
                                </div>
                                
                                 <div class="col-lg-3 col-sm-3 col-xs-10 text-center">
                                <div class="card howToCard">
                                    <i class="fa fa-credit-card fa-3x" aria-hidden="true"></i>
                                    <br>
                                    <br>
                                    <p>Pre-order and pre-pray for you food.</p>
                                </div>
                                </div>
                                </div>
                                <br>
                                <h4>Arrive on time and enjoy a hassle free, wait free dining experience.</h4>
                                <br>
                                </div>
                                </div>
        <hr>
    

{% for reservation in reservations %}
<div class="container">
<div class="row">
<div class="col-sm-3 ReservationMadeSection">
    <div class="card reservationCard">
<h3>Your Reservations</h3>
<p>Number of guests: {{ reservation.reservation_guests }}</p>
<p>Time: {{ reservation.reservation_time }} </p>
<p>Reservation date & time: {{ reservation.reservation_date }} </p>
</div>
</div>
{% endfor %}
</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12 text-center mb-3">
            <div class="card customerProfileCard">
                <img class="img-responsive" src="{% static 'home/images/insta.jpeg' %}"></img>
                <br>
                <p class="customerProfileCardText">More time for insta</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 text-center mb-3">
            <div class="card customerProfileCard">
                <img class="img-responsive" src="{% static 'home/images/relax.jpeg' %}"></img>
                <br>
                <p class="customerProfileCardText">More time to kick back</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 text-center mb-3">
            <div class="card customerProfileCard">
                <img class="img-responsive" src="{% static 'home/images/dessert.jpeg' %}"></img>
                <br>
                <p class="customerProfileCardText">More time for dessert</p>

            </div>
        </div>
    </div>
</div>
{% endblock content %}