{% extends 'base.html' %}

{% block content %}
 <div class="container">
	 <div class="card">

<h2 class="menuTitle">{{ menu.name }}</h2>


<div class = "container">

{% regroup menu.items.all|dictsort:"menu_category" by get_menu_category_display as category_list %}
{% for category in category_list %}
<hr>
<h3>{{ category.grouper }}</h3>
<ul style ="list-style-type:none">
    {% for dish in category.list %}
    <li class="menuListItem"><strong>{{ dish.name }}</strong> | {{ dish.description }} | €{{ dish.price}} 
    	<div class="action">
							<form action = "{% url 'add_to_cart' %}" method='post'>
							{% csrf_token %}
							<input type="hidden" id="id" name="id" value="{{dish.id}}"/>
              				<input type="hidden" id="quantity" name="quantity" value="1"/>
							<input class="btn btn-default add-to-cart" type="submit" value="Add to Cart"/>
							</form>
						<br>
							</div>

</a>
    </li>
    <br>
    {% endfor %}
</ul>
{% endfor %}
{% endblock content %}