{% extends 'base.html' %}

{% block content %}


<h2>{{ menu.name }}</h2>


<!--<div class = "container">-->
<!--    <div class="row">-->

<!--{% regroup menu_items by get_menu_category_display as category_list %}-->
<!--{% for category in category_list %}-->
<!--<h3>{{ category.grouper }}</h3>-->
<!--<br>-->
<!--<ul style ="list-style-type:none">-->
<!--    {% for dish in category.list %}-->
    
<!--    {{restaurant.id}}-->
<!--    {{menu.id}}-->
<!--    <li><strong>{{ dish.name }}</strong> | {{ dish.description }} | €{{ dish.price}} <button class="btn btn-default postButton" onclick="location.href=#">Edit</button></li>-->
<!--    <br>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% endfor %}-->
                

<!--</ul>-->
<!--				</div>-->
<!--				</div>-->

{% endblock content %} 