{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
 <div class="container">
	 <div class="card">
<h1>{{ restaurant.name }}</h1>
<h3>Your restaurant description</h3>
<p>{{ restaurant.description }}</p>
<p>Rating</p>

<hr>


<div class="vendorProfileStats">
    <h3> Create a new menu </h3>
		<form method="POST" action="{% url 'add_menu' restaurant.id %}">
        {% csrf_token %}
       
        {{ form }}
        
        <input type="submit" value="Submit"/>
    </form>

<hr>

        <h3>Your Menus</h4>
        <p>Click on a menu to edit, add or delete menu items</p>
        <br>
 
      
<ul>
{% for menu in menus %}
{% if menu.restaurant.id == restaurant.id  %}
<div class="container-fluid">
        <div class="row cardRow">
        <div class="col-lg-4 col-sm-4 col-xs-10 text-center">
            <div class="card vendormenuCard">
	            <h3>{{ menu.name }}<h3>
	                
	               <a class="btn btn-default postButton" href ="{% url 'get_restaurant_menu' restaurant.id menu.id %}">View</a>
	   </div>
	   </div>
{% endif %}
{% endfor %}
</ul>
<hr>
</div>
</div>
{% endblock %}
