{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<h1>{{ restaurant.name }}</h1>
<p>{{ restaurant.description }}</p>
<p>Rating</p>
<h3>Your Menus</h3>

<ul>
{% for menu in menus %}
{% if menu.restaurant.id == restaurant.id  %}
	<li>{{ menu.name }}</li>
{% endif %}
{% endfor %}
</ul>
Create a new menu
		<form method="POST" action="{% url 'add_menu' restaurant.id %}">
        {% csrf_token %}
       
        {{ form }}
        
        <input type="submit" value="Submit"/>
    </form>



<h2>{{ menu.name }}</h2>

<h3>{{ menu_item.menu_category }}</h3>
{% for menu_item in menu_items %}
<div class="details col-md-6">
					   <br>
						<h3 class="product-title">{{ menu_item.name }}</h3>
						<p class="price">Price: €{{ menu_item.price }}<p>
{% endfor %}



{% endblock %}
