{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<h1>{{ restaurant.name }}</h1>
<p>{{ restaurant.description }}</p>
<p>Rating</p>

<hr>


<div class="vendorProfileStats">
        <h3>Your Menus</h4>
        <p>Click on a menu to edit, add or delete menu items</p>
        <br>
 
      
<ul>
{% for menu in menus %}
{% if menu.restaurant.id == restaurant.id  %}
<div class="container-fluid">
        <div class="row cardRow">
        <div class="col-lg-4 col-sm-4 col-xs-10 text-center">
            <div class="card">
	            <h3>{{ menu.name }}<h3>
	                {{ restaurant.id }}
	                {{ menu.id }}
	                
	               <a class="btn btn-default postButton" href ="{% url 'get_restaurant_menu' restaurant.id menu.id %}">View</a>
	   </div>
	   </div>
{% endif %}
{% endfor %}
</ul>
<hr>
<h3>Create a new menu </h3>
		<form method="POST" action="{% url 'add_menu' restaurant.id %}">
        {% csrf_token %}
       
        {{ form }}
        
        <input type="submit" value="Submit"/>
    </form>

<hr>



<h2>{{ menu_item.name }}</h2>


<div class = "container">
    <div class="row">

{% regroup menu_items by get_menu_category_display as category_list %}
{% for category in category_list %}
<h3>{{ category.grouper }}</h3>
<br>
<ul style ="list-style-type:none">
    {% for dish in category.list %}
    
    {{restaurant.id}}
    {{menu.id}}
    <li><strong>{{ dish.name }}</strong> | {{ dish.description }} | €{{ dish.price}} <button class="btn btn-default postButton" onclick="location.href=#">Edit</button></li>
    <br>
    {% endfor %}
</ul>
{% endfor %}
                

</ul>
				</div>
				</div>


{% endblock %}
