{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}


{% block content %}

<section id="landingImage" class="bg-dark">
    <div class="container-fluid">
    <div class="row max-viewport align-items-center">
    <div class="col-12">
    <div class="row">
    <img class="img-responsive banner"  src="{% static 'home/images/bread.jpg' %}"></img>
    <p class="landingText">Book a table<br>Pre-order your food<br>Prepare to enjoy
    <br>
    <br>
         <form action="{% url 'search' %}" role="search" class="custom-search-input">
                <span class="input-group col-md-4">
                    <input type="text" class="form-control input-lg" name="query" id="search" placeholder="Search for food, restaurants or locations" />
                    <span class="input-group-btn"> 
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </span>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<div class="container-fluid">
    <div class="row">
        <h2 class="restaurantDisplayHeader">Restaurants</h2>
    </div>
</div>
<br>
    {% for restaurant in restaurants %}
    <div class="container-fluid">
        <div class="row cardRow">
        <div class="col-lg-4 col-sm-4 col-xs-10 text-center">
            <div class="card restaurantCard" style="background-image:url({{ MEDIA_URL }}{{restaurant.image}})">
                    <span class="badge">10<br>mins</span>
                    <h3 class="cardTitle">{{ restaurant.name }}</h3>
                        <br>
                        <p><button class="btn btn-default postButton" onclick="location.href='{% url 'get_customer_view_restaurant' restaurant.id  %}'">View Menu</button></p>
                        <br>
                        <p class="cardPostPublish">{{ restaurant.tag }}</p>
                    </div>
                    <br>
                    </div>

    {% endfor %}
{% endblock %}