{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}


<h2>{{ menu.name }}</h2>


<div class = "container">

{% regroup menu.items.all|dictsort:"menu_category" by get_menu_category_display as category_list %}
{% for category in category_list %}
<h3>{{ category.grouper }}</h3>
<br>
<ul style ="list-style-type:none">
    {% for dish in category.list %}
    <li><strong>{{ dish.name }}</strong> | {{ dish.description }} | €{{ dish.price}} <a class="btn btn-default postButton" href ="{% url 'edit_menu_item' restaurant.id menu.id dish.id %}">Edit</a>
    <br>
    {% endfor %}
</ul>
{% endfor %}
                </ul>
				</div>
				</div>

<div class="addItemForm">
    
     <h1>Add Item...</h1>
    
    <form method="POST" action="{% url 'add_menu_item' restaurant.id menu.id %}}">
        {% csrf_token %}
        
        {{ form | as_bootstrap }}
        
        <input type="submit" value="Submit"/>
    </form>
    
    
</div>

{% endblock content %} 