body {
    font-family: 'Work Sans', sans-serif;
    padding-top: 50px;
    }

.banner {
            background-size: cover;
            z-index: 1;
}

.navbar-trans {
  background: white; }

.navbar-nav {
    font-size: 1.5rem;
}


#landingImage {
position: relative;
text-align: right;
color: white;
margin-top: 0px;

}

.landingText {
    position: absolute;
    margin: auto;
    margin-left: 20px;
    top: 20%; left: 0px; bottom: 0; right: 0;
	font-family: 'Karla', sans-serif;
    font-size: 5rem;
}

.alert {
    background: linear-gradient(to right, black, #eef2f3, black); 
    color: black;
    font-size: 1.5rem;
    text-align: center;
}


.cardText {
    font-size: 1.8rem;
}

.cardPostPublish {
    font-size: 1.4rem;
    color: white;
}

.btn-default {
    font-size: 1.5rem;
    background: #6EC1C8;
}

.card {
    padding: 20px 10px 20px 10px;
    padding-bottom: 40px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.50), 0 6px 60px 0 rgba(0, 0, 0, 0.50);
}

.card {
    background-color: #6EC1C8;
    padding: 20px 10px 20px 10px;
    padding-bottom: 40px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.50), 0 6px 60px 0 rgba(0, 0, 0, 0.50);
}


.statViewsCard {
    font-size: 1.5rem;
}

.newRestaurant {
    text-align: center;
    font-size: 1.5rem;
}

.vendorProfileRestaurants {
    text-align: center;
    font-size: 1.5rem;
}

.vendorProfileStats {
    text-align: center;
    font-size: 1.5rem;
}

.cardTitle{
    color: white;
    text-align: center;
    font-size: 4rem;
    vertical-align: middle;
}

.vendorWelcome {
    text-align: center;
}