/*General style rules*/
body {
    font-family: 'Work Sans', sans-serif;
    padding-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    }

p, li {
    font-size: 1.8rem;
    line-height: 30px;
}

a, h4 {
    color: #55A1C5;
}

#Footer {
    background-color: #55A1C5;
    color: white;
    opacity: 0.8;
}

.banner {
            background-size: cover;
            width: 100%;
            z-index: 1;
}

.navbar-brand {
    font-size: 4rem;
    margin-left: 20px;
}

.navbar-trans {
  background: white; }

.navbar-nav {
    font-size: 1.5rem;
}

.postButton {
    color: white;
    border-color: #6EC1C8;
}

#landingImage {
position: relative;
text-align: left;
color: white;
margin-top: 0px;
}

.restaurantCard {
    position: relative;
}

.landingText{
    position: absolute;
    margin: auto;
    margin-left: 110px;
    top: 30%; left: 0px; bottom: 0; right: 0;
	font-family: 'Karla', sans-serif;
}

.tagLine {
    font-size: 4rem;
}

.alert {
    background: white; 
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.btn-info {
    background-color: white;
    border-color: gray;
}

.glyphicon-search {
    color: gray;
}


.cardText {
    font-size: 1.8rem;
    
}

.badge-light {
    background-color: #55A1C5;
}
    
.cardTag {
    font-size: 1.8rem;
    color: white;
    background-color: black;
    opacity: 0.6;
}

.btn-default {
    font-size: 1.5rem;
    background: #55A1C5;
    color: white;
    border-color: #55A1C5;
}

.card {
    background-color: white;
    padding: 20px 10px 20px 10px;
}

/**************CustomerProfile**************/
.customerProfileCard {
    background-color: white;
    padding: 20px 10px 20px 10px;
    position: relative;
    color: white;
}

.customerProfileCardText {
    position: absolute;
    margin: auto;
    top: 30%; left: 0px; bottom: 0; right: 0;
    margin-left: 20px;
    margin-right: 20px;
	font-family: 'Karla', sans-serif;
    font-size: 4rem;
    opacity: 1.0;
}

.customerProfileIntro {
    padding: 20px 20px 20px 20px;
    background-color: #55A1C5;
    color: white;
    text-align: center;
}

.customerProfileSteps {
    background-color: #92CCE0; 
    color: white;
}


.dashboardCard {
    background-color: white;
    margin-top: 20px;
}

.statViewsCard {
    font-size: 2rem;
  
}


.newRestaurant {
    font-size: 1.5rem;
}

.vendorProfileRestaurants {
    font-size: 1.5rem;
}

.vendorProfileStats {
    font-size: 1.5rem;
}

.vendormenuCard, .statCard {
    border: 2px solid #55A1C5;
}

.cardTitle{
    color: white;
    text-align: center;
    font-size: 4rem;
    vertical-align: middle;
}

.vendorWelcome {
    text-align: center;
}

.addItemForm {
    background-image: url(images/menu.jpeg);
    background-size: cover;
    font-size: 1.5rem;
    color: white;
}



.dashButton {
  font-size: 1.8rem;
    margin-left: 20px;
    background-color: white;
    font-size: 1.7rem;
    color: green;
    margin-top: 20px;
}

.editButton {
    font-size: 1.2rem;
    margin-left: 20px;
    background-color: #55A1C5;
    border-color: #55A1C5;
    color: white;
}

.deleteButton {
    font-size: 1.2rem;
    margin-left: 20px;
    background-color: gray;
    border-color: gray;
    color: white;
}

.menuListItem {
    line-height: 3;
    font-size: 1.7rem;
}

.addItemForm {
    padding-bottom: 20px;
    text-align: center;
}

/*******Regform********/

.regPage {
    background-image: url(images/burrito-coffee.jpg);
    background-size: cover;
    font-size: 1.5rem;
    color: white;
    padding-bottom: 40px;
}

.regFormDiv {
    margin-top: 50px;
}
.regForm {
    padding: 80px 80px 80px 80px;
    text-align: center;
    border: 2px solid white;
    background-image: inherit;
    opacity: none;
    color: black;
    background-color: #92CCE0;
    opacity: 0.8;
}
.regHeader {
    color: white;
}

.registerButton {
    background-color: #08325C;
    border-color: #08325C;
}

/*************END REG*******************/
.loginForm {
    padding: 80px 80px 80px 80px;
    text-align: center;
    border: 2px solid white;
    background-image: inherit;
    opacity: none;
}

.addItemFormButton {
    background-color: white;
    font-size: 1.7rem;
    color: green;
}
.menuTitle {
    text-align: center;
}

.deleteForm {
    display: inline-block;
}

.restaurantDisplayHeader, .regHeader{
    text-align: center;
}

.cartWelcome{
  color: black;
  margin-top: 50px;
  text-align: center;
}

.table thead th { 
  background-color: #55A1C5;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 100px;
  margin-top: 50px;
 
}

.cartImage {
    height: 100px;
}

.reservationSection {
    background-image: url(images/burrito-coffee.jpg);
    padding: 20px 20px 20px 20px;
}

.reservationCard {
    color: black;
    background-color: white;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    opacity: 0.8;
}


.restaurantMenu {
    opacity: 0.8;
    margin-left: 20px;
}

.menuList {
    color: white;
    margin-left: 20px;
}
.footerSignature {
    color: white;
}

@media only screen and (max-width: 500px) {
    .tagLine {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .landingText {
        margin-left: 20px;
    }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: ""; }
	td:nth-of-type(2):before { content: ""; }
	td:nth-of-type(3):before { content: ""; }
	td:nth-of-type(4):before { content: ""; }
	td:nth-of-type(5):before { content: ""; }
	td:nth-of-type(6):before { content: ""; }

}
